<form id="create_project"> 
    <select name="estado"> 
        <option value="propuesta"> Propuesta</option>   
        <option value="en_progreso">En Progreso </option>
        <option value="terminado">Terminado</option>    
    </select>
    <input type="submit" value="Enviar">
</form>


<table>

<tr>
    <th>Id</th>
    <th>Nombre</th>   
    <th>Descripción</th>
    <th>Comienzo</th>
    <th>Fin</th>
    <th>Estado</th>
</tr>

<% @projects.each do |project| %>

        <tr>
            <td><%= project.id %></td>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.state %></td>
        </tr>
    <% end %>
</table>

